<?php

return [
    'download_path' => '/var/www/youtube_downloader/uploads', //путь в системе куда будет загружаться видео с youtube перед отправкой его в dailymotion
    
    'dailymotion' => [
        'api_key' => 'api_keyv',
        'api_secret' => 'api_secret',
        'user' => 'user',
        'pas' => 'pas',
        'channel' => 'videogames',
        'tags' => 'dailymotion,api,sdk,test',
    ],
];
